<launch>
  <arg name="frame_id_global"             default="map"/>
  <arg name="frame_id_robot_base"         default="base_footprint"/>
  <arg name="frame_id_odom"               default="odom"/>
  <arg name="topic_scan"                  default="scan"/>
  <arg name="initial_pose_x"              default="0.0"/>
  <arg name="initial_pose_y"              default="0.0"/>
  <arg name="initial_pose_yaw"            default="0.0"/>
  <arg name="map_file"                    default="$(find potbot_description)/maps/garage.yaml"/>

  <node pkg="emcl" type="emcl_node" name="emcl_node">
  <!-- <node pkg="emcl2" type="emcl2_node" name="emcl2_node"> -->
    <!-- <rosparam command="load" file="$(find potbot_example)/config/navigation/amcl.yaml" /> -->
    <remap from="scan"                      to="$(arg topic_scan)"/>
    <param name="global_frame_id"           value="$(arg frame_id_global)"/>
    <param name="odom_frame_id"             value="$(arg frame_id_odom)"/>
    <param name="footprint_frame_id"        value="$(arg frame_id_robot_base)"/>
    <param name="base_frame_id"             value="robot_0/base_scan"/>
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_yaw)"/>
  </node>

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>

</launch>
