<launch>
  <arg name="GROUP"                       default="robot_6"/>
  <arg name="IS_SIMULATOR"                default="false"/>
  <arg name="USE_RVIZ"                    default="true"/>
  <arg name="PUBLISH_COMMAND"             default="true"/>
  <arg name="FRAME_ID/GLOBAL"             default="map"/>
  <arg name="FRAME_ID/ODOM"               default="$(arg GROUP)/odom"/>
  <arg name="FRAME_ID/ROBOT_BASE"         default="$(arg GROUP)/base_link"/>
  <arg name="FRAME_ID/LIDAR"              default="$(arg GROUP)/base_scan"/>
  <arg name="TARGET/POSITION/X"           default="0"/>
  <arg name="TARGET/POSITION/Y"           default="0"/>
  <arg name="TARGET/POSITION/YAW"         default="0"/>
  <arg name="TOPIC/SCAN"                  default="scan"/>
  <arg name="TOPIC/ODOM"                  default="odom/fusion"/>
  <arg name="TOPIC/CMD_VEL"               default="cmd_vel"/>
  <arg name="TOPIC/PCL2"                  default="realsense/depth/points"/>
  <arg name="DEPTH_PCL_CLUSTERING_METHOD" default="Euclidean"/>
  <arg name="FILE/URDF"                   default="$(find potbot_example)/urdf/megarover3.urdf.xacro"/>
  <arg name="FILE/MAP"                    default="$(find potbot_description)/maps/garage.yaml"/>
  <arg name="FILE/FUSION"                 default="$(find potbot_example)/config/megarover3_robot_localization.yaml"/>
  <arg name="FILE/RVIZ"                   default="$(find potbot_example)/rviz/megarover3.rviz"/>

  <group ns="$(arg GROUP)">

    <include file="$(find potbot_example)/launch/env/remote.launch">
      <arg name="urdf_file"               default="$(find xacro)/xacro --inorder '$(arg FILE/URDF)'"/>
      <arg name="multi_robot_name"        value="$(arg GROUP)"/>
    </include>

    <include file="$(find potbot_example)/launch/env/amcl.launch">
      <arg name="map_file"                value="$(arg FILE/MAP)"/>
      <arg name="initial_pose_x"          value="2.0"/>
      <arg name="initial_pose_y"          value="2.2"/>
      <arg name="initial_pose_a"          value="-1.57"/>
      <arg name="odom_frame_id"           value="$(arg FRAME_ID/ODOM)"/>
      <arg name="base_frame_id"           value="$(arg FRAME_ID/ROBOT_BASE)"/>
    </include>

    <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true" output="screen">
      <rosparam command="load"            file="$(arg FILE/FUSION)"/>
      <remap from="odometry/filtered"     to="$(arg TOPIC/ODOM)"/>
    </node>

    <include file="$(find potbot_example)/launch/env/potbot.launch">
      <arg name="GROUP"                         value="$(arg GROUP)"/>
      <arg name="USE_RVIZ"                      value="$(arg USE_RVIZ)"/>
      <arg name="PUBLISH_COMMAND"               value="$(arg PUBLISH_COMMAND)"/>
      <arg name="FRAME_ID/GLOBAL"               value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE"           value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="FRAME_ID/LIDAR"                value="$(arg FRAME_ID/LIDAR)"/>
      <arg name="TARGET/POSITION/X"             value="$(arg TARGET/POSITION/X)"/>
      <arg name="TARGET/POSITION/Y"             value="$(arg TARGET/POSITION/Y)"/>
      <arg name="TARGET/POSITION/YAW"           value="$(arg TARGET/POSITION/YAW)"/>
      <arg name="TOPIC/SCAN"                    value="$(arg TOPIC/SCAN)"/>
      <arg name="TOPIC/ODOM"                    value="$(arg TOPIC/ODOM)"/>
      <arg name="TOPIC/CMD_VEL"                 value="$(arg TOPIC/CMD_VEL)"/>
      <arg name="TOPIC/PCL2"                    value="$(arg TOPIC/PCL2)"/>
      <arg name="DEPTH_PCL_CLUSTERING_METHOD"   value="$(arg DEPTH_PCL_CLUSTERING_METHOD)"/>
      <arg name="FILE/RVIZ"                     value="$(arg FILE/RVIZ)"/>
    </include>

  </group>
</launch>
