<launch>
  <arg name="frame_id_robot_base"           default="base_footprint"/>
  <arg name="frame_id_odom"                 default="odom"/>
  <arg name="topic_scan"                    default="scan"/>
  <arg name="initial_pose_x"                default="0.0"/>
  <arg name="initial_pose_y"                default="0.0"/>
  <arg name="initial_pose_yaw"              default="0.0"/>
  <arg name="file_map"                      default=""/>
  <arg name="file_amcl"                     default="$(find potbot_example)/config/navigation/amcl.yaml"/>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">
    <rosparam command="load"                file="$(arg file_amcl)" />
    <remap from="scan"                      to="$(arg topic_scan)"/>
    <param name="odom_frame_id"             value="$(arg frame_id_odom)"/>
    <param name="base_frame_id"             value="$(arg frame_id_robot_base)"/>
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_yaw)"/>
  </node>

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg file_map)"/>

</launch>
