<launch>  
  <arg name="frame_id_global"           default="map"/> 
  <arg name="frame_id_robot_base"       default="base_footprint"/>
  <arg name="frame_id_scan"             default="base_scan"/>
  <arg name="frame_id_cloud"            default="camera_rgb_optical_frame"/>
  <arg name="topic_scan"                default="scan"/>
  <arg name="topic_cloud"               default="camera/depth/points"/>
  <arg name="file_global_planner"       default="$(find potbot_example)/config/navigation/global_planner.yaml"/>

  <!-- <node name="costmap_2d" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find test_pkg)/launch/example_params.yaml" command="load" ns="costmap" />
  </node> -->

  <!-- <node name="costmap_2d" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find potbot_example)/config/navigation/costmap_common_params.yaml"  command="load" ns="costmap"/>
    <param name="scan/topic"           value="scan"/>
    <param name="global_frame"         value="map"/>
    <param name="scan/sensor_frame"    value="base_scan"/>
    <param name="robot_base_frame"     value="base_footprint"/>
    <param name="update_frequency"     value="10.0"/>
    <param name="publish_frequency"     value="10.0"/>
    <param name="transform_tolerance"     value="0.5"/>
    <param name="static_map"     value="true"/>
  </node> -->

  <node pkg="global_planner" type="planner" name="global_2d_planner" clear_params="true">
    <!-- <rosparam file="$(find potbot_example)/config/navigation/costmap_common_params.yaml"  command="load" ns="costmap"/> -->
    <rosparam file="$(arg file_global_planner)" command="load" ns="costmap"/>
    
    <param name="costmap/global_frame"                value="$(arg frame_id_global)"/>

    <param name="costmap/depth_cloud/topic"           value="$(arg topic_cloud)"/>
    <param name="costmap/depth_cloud/sensor_frame"    value="$(arg frame_id_cloud)"/>

    <param name="costmap/lrf/topic"                   value="$(arg topic_scan)"/>
    <param name="costmap/lrf/sensor_frame"            value="$(arg frame_id_scan)"/>

    <param name="costmap/robot_base_frame"            value="$(arg frame_id_robot_base)"/>
    <!-- <param name="costmap/update_frequency"            value="10.0"/> -->
    <!-- <param name="costmap/publish_frequency"           value="10.0"/> -->
    <!-- <param name="costmap/transform_tolerance"         value="0.5"/> -->
  </node>

</launch>