<launch>
  <arg name="method_localization"             default="odom"/> <!-- odom, amcl, rtabmap -->
  <arg name="method_slam"                     default="none"/> <!-- none, gmapping, rtabmap -->
  <arg name="frame_id_global"                 default="map"/>
  <arg name="frame_id_odom"                   default="odom"/>
  <arg name="frame_id_robot_base"             default="base_footprint"/>
  <arg name="topic_scan"                      default="scan"/>
  <arg name="topic_odom"                      default="odom"/>
  <arg name="topic_map"                       default="map"/>

  <arg name="topic_rgb"                       default="camera/rgb/image_raw"/>
  <arg name="topic_info"                      default="camera/rgb/camera_info"/>
  <arg name="topic_depth"                     default="camera/depth/image_raw"/>

  <arg name="stereo"                          default="false"/>
  <arg name="topic_left_image"                default="camera/left_rect/image_rect" />
  <arg name="topic_left_camera_info"          default="camera/left_rect/camera_info" />
  <arg name="topic_right_image"               default="camera/right_rect/image_rect" />
  <arg name="topic_right_camera_info"         default="camera/right_rect/camera_info" />
  
  <arg name="initial_pose_x"                  default="0"/>
  <arg name="initial_pose_y"                  default="0"/>
  <arg name="initial_pose_yaw"                default="0"/>
  <arg name="file_map"                        default="$(find potbot_description)/maps/garage.yaml"/>
  <arg name="file_database"                   default="~/.ros/rtabmap.db"/>

  <group if = "$(eval method_localization == 'amcl')">
    <include file="$(find potbot_example)/launch/navigation/amcl.launch">
      <arg name="frame_id_robot_base"         value="$(arg frame_id_robot_base)"/>
      <arg name="frame_id_odom"               value="$(arg frame_id_odom)"/>
      <arg name="topic_scan"                  value="$(arg topic_scan)"/>
      <arg name="initial_pose_x"              value="$(arg initial_pose_x)"/>
      <arg name="initial_pose_y"              value="$(arg initial_pose_y)"/>
      <arg name="initial_pose_yaw"            value="$(arg initial_pose_yaw)"/>
      <arg name="map_file"                    value="$(arg file_map)"/>
    </include>
  </group>

  <group if = "$(eval method_localization == 'odom')">
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg file_map)" if="$(eval method_slam == 'none')"/>
    <node pkg="tf" type="static_transform_publisher" name="map_tf" args="0 0 0 0 0 0 $(arg frame_id_global) $(arg frame_id_odom) 60" if="$(eval method_slam == 'none')"/>
  </group>

  <group if = "$(eval method_localization == 'rtabmap' and not method_slam == 'rtabmap')">
    <include file="$(find potbot_example)/launch/navigation/rtabmap.launch">
      <arg name="rtabmapviz"              value="false" />
      <arg name="rviz"                    value="false" />
      <arg name="localization"            value="true"/>
      <arg name="gui_cfg"                 value="~/.ros/rtabmap_gui.ini" />
      <arg name="rviz_cfg"                value="$(find rtabmap_ros)/launch/config/rgbd.rviz" />
  
      <arg name="frame_id"                value="$(arg frame_id_robot_base)"/>
      <arg name="namespace"               value="rtabmap"/>
      <arg name="database_path"           value="$(arg file_database)"/>
      <arg name="wait_for_transform"      value="0.2"/>
      <arg name="rtabmap_args"            value=""/>
      <arg name="launch_prefix"           value=""/>
      <arg name="approx_sync"             value="true"/>
  
      <arg name="rgb_topic"               value="$(arg topic_rgb)" />
      <arg name="depth_topic"             value="$(arg topic_depth)" />
      <arg name="camera_info_topic"       value="$(arg topic_info)" />
      <arg name="compressed"              value="false"/>

      <arg name="stereo"                  value="$(arg stereo)"/>
      <arg name="left_image_topic"        value="$(arg topic_left_image)" />
      <arg name="right_image_topic"       value="$(arg topic_right_image)" />
      <arg name="left_camera_info_topic"  value="$(arg topic_left_camera_info)" />
      <arg name="right_camera_info_topic" value="$(arg topic_right_camera_info)" />
  
      <arg name="subscribe_scan"          value="true"/>
      <arg name="scan_topic"              value="$(arg topic_scan)"/>
  
      <arg name="subscribe_scan_cloud"    value="false"/>
      <arg name="scan_cloud_topic"        value="/scan_cloud"/>
  
      <arg name="visual_odometry"         value="true"/>
      <arg name="odom_topic"              value="$(arg topic_odom)"/>
      <arg name="odom_frame_id"           value=""/>
      <arg name="odom_args"               value=""/>
      
      <arg name="topic_grid_map"          value="$(arg topic_map)"/>
    </include>
  </group>

</launch>
