<launch>
  <arg name="frame_id_global"             default="map"/>
  <arg name="frame_id_odom"               default="odom"/>
  <arg name="frame_id_base_footprint"     default="base_footprint"/>
  <arg name="frame_id_scan"               default="base_scan"/>
  <arg name="max_linear_velocity"         default="0.5"/>
  <arg name="max_angular_velocity"        default="1.0"/>
  <arg name="topic_scan"                  default="scan"/>
  <arg name="topic_odom"                  default="odom"/>
  <arg name="topic_cmd"                   default="cmd_vel"/>
  <arg name="move_forward_only"           default="false"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <rosparam file="$(find potbot_example)/config/navigation/costmap_common_params.yaml"          command="load" ns="global_costmap" />
    <rosparam file="$(find potbot_example)/config/navigation/global_costmap_params.yaml"          command="load" />
    <param name="global_costmap/scan/topic"           value="$(arg topic_scan)"/>
    <param name="global_costmap/global_frame"         value="$(arg frame_id_global)"/>
    <param name="global_costmap/scan/sensor_frame"    value="$(arg frame_id_scan)"/>
    <param name="global_costmap/robot_base_frame"     value="$(arg frame_id_base_footprint)"/>

    <rosparam file="$(find potbot_example)/config/navigation/costmap_common_params.yaml"          command="load" ns="local_costmap" />
    <rosparam file="$(find potbot_example)/config/navigation/local_costmap_params.yaml"           command="load" />
    <param name="local_costmap/scan/topic"            value="$(arg topic_scan)"/>
    <param name="local_costmap/global_frame"          value="$(arg frame_id_odom)"/>
    <param name="local_costmap/scan/sensor_frame"     value="$(arg frame_id_scan)"/>
    <param name="local_costmap/robot_base_frame"      value="$(arg frame_id_base_footprint)"/>
    
    <rosparam file="$(find potbot_example)/config/navigation/move_base_params.yaml"               command="load" />
    <rosparam file="$(find potbot_example)/config/navigation/dwa_local_planner_params.yaml"       command="load" />
    <remap from="cmd_vel"                             to="$(arg topic_cmd)"/>
    <remap from="odom"                                to="$(arg topic_odom)"/>
    <param name="DWAPlannerROS/max_vel_trans"         value="$(arg max_linear_velocity)"/>
    <param name="DWAPlannerROS/min_vel_trans"         value="0.0"/>
    <param name="DWAPlannerROS/max_vel_theta"         value="$(arg max_angular_velocity)"/>
    <param name="DWAPlannerROS/min_vel_theta"         value="0.0"/>
    <param name="DWAPlannerROS/min_vel_x"             value="0.0" if="$(arg move_forward_only)" />
  </node>

</launch>
