<launch>
  <arg name="multi_robot"                     default=""/>
  <arg name="use_rviz"                        default="true"/>
  <arg name="use_fusion"                      default="true"/>
  <arg name="use_remote"                      default="true"/>
  <arg name="method_localization"             default="odom"/> <!-- odom, amcl, rtabmap -->
  <arg name="method_slam"                     default="none"/> <!-- none, gmapping, rtabmap-->
  <arg name="frame_id_global"                 default="map"/>
  <arg name="frame_id_odom"                   default="odom"/>
  <arg name="frame_id_robot_base"             default="base_footprint"/>
  <arg name="frame_id_scan"                   default="base_scan"/>
  <arg name="frame_id_camera"                 default="camera_link"/>
  <arg name="topic_scan"                      default="scan"/>
  <arg name="topic_odom"                      default="odom"/>
  <arg name="topic_cmd"                       default="cmd_vel"/>
  <arg name="topic_goal"                      default="/move_base_simple/goal"/>
  <arg name="topic_rgb"                       default="camera/rgb/image_raw"/>
  <arg name="topic_info"                      default="camera/rgb/camera_info"/>
  <arg name="topic_depth"                     default="camera/depth/image_raw"/>
  <arg name="topic_depth_points"              default="camera/depth/points"/>

  <arg name="stereo"                          default="false"/>
  <arg name="topic_left_image"                default="camera/left_rect/image_rect" />
  <arg name="topic_left_camera_info"          default="camera/left_rect/camera_info" />
  <arg name="topic_right_image"               default="camera/right_rect/image_rect" />
  <arg name="topic_right_camera_info"         default="camera/right_rect/camera_info" />
  
  <arg name="model"                           default="burger"/>
  <arg name="initial_pose_x"                  default="0"/>
  <arg name="initial_pose_y"                  default="0"/>
  <arg name="initial_pose_yaw"                default="0"/>
  <arg name="file_urdf"                       default="$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
  <arg name="file_fusion"                     default="$(find potbot_example)/config/navigation/robot_localization.yaml"/>
  <arg name="file_map"                        default="$(find potbot_description)/maps/garage.yaml"/>
  <arg name="file_rviz"                       default="$(find potbot_example)/rviz/navigation.rviz"/>
  <arg name="file_database"                   default="~/.ros/rtabmap.db"/>
  <arg name="reset_database"                  default="true"/>

  <arg name="max_linear_velocity"             default="0.5"/>
  <arg name="max_angular_velocity"            default="1.0"/>
  <arg name="move_forward_only"               default="false"/>
  <arg name="file_costmap_common_params"      default="$(find potbot_example)/config/navigation/costmap_common_params.yaml"/>
  <arg name="file_global_costmap_params"      default="$(find potbot_example)/config/navigation/global_costmap_params.yaml"/>
  <arg name="file_local_costmap_params"       default="$(find potbot_example)/config/navigation/local_costmap_params.yaml"/>
  <arg name="file_move_base_params"           default="$(find potbot_example)/config/navigation/move_base_params.yaml"/>
  <arg name="file_local_planner_params"       default="$(find potbot_example)/config/navigation/dwa_local_planner_params.yaml"/>

  <arg name="file_amcl"                       default="$(find potbot_example)/config/navigation/amcl.yaml"/>
  <arg name="file_gmapping"                   default="$(find potbot_example)/config/navigation/gmapping.yaml"/>

  <group if="$(arg use_remote)">
    <include file="$(find potbot_example)/launch/env/remote.launch">
      <arg name="urdf_file"               value="$(find xacro)/xacro --inorder '$(arg file_urdf)'"/>
      <arg name="multi_robot_name"        value="$(arg multi_robot)"/>
    </include>
  </group>
  <!-- <node pkg="tf" type="static_transform_publisher" name="imu_tf" args="0 0 0 0 0 0 $(arg frame_id_global) base_footprint 60" /> -->

  <group if="$(arg use_fusion)">
    <include file="$(find potbot_example)/launch/navigation/robot_localization.launch">
      <arg name="frame_id_global"             value="$(arg frame_id_global)"/>
      <arg name="frame_id_odom"               value="$(arg frame_id_odom)"/>
      <arg name="frame_id_base_footprint"     value="$(arg frame_id_robot_base)"/>
      <!-- <arg name="frame_id_world"              value="$(arg frame_id_odom)"/> -->
      <arg name="file_fusion"                 value="$(arg file_fusion)"/>
      <arg name="file_amcl"                   value="$(arg file_amcl)"/>
    </include>
  </group>

  <include file="$(find potbot_example)/launch/navigation/pcl.launch">
    <arg name="frame_id_robot_base"     value="$(arg frame_id_robot_base)"/>
    <arg name="topic_depth"             value="$(arg topic_depth)"/>
    <arg name="topic_info"              value="$(arg topic_info)"/>
  </include>

  <include file="$(find potbot_example)/launch/navigation/visual_odometry.launch">
    <arg name="method"                        value="none"/>
    <arg name="topic_rgb"                     value="$(arg topic_rgb)"/>
    <arg name="topic_info"                    value="$(arg topic_info)"/>
    <arg name="topic_depth"                   value="$(arg topic_depth)"/>
    <arg name="frame_id_camera"               value="$(arg frame_id_camera)"/>
    <arg name="frame_id_odom"                 value="$(arg frame_id_odom)"/>
    <arg name="initial_pose"                  value="$(arg initial_pose_x) $(arg initial_pose_y) 0 0 0 $(arg initial_pose_yaw)"/>
  </include>

  <include file="$(find potbot_example)/launch/navigation/localization.launch">
    <arg name="method_localization"           value="$(arg method_localization)"/>
    <arg name="method_slam"                   value="$(arg method_slam)"/>
    <arg name="frame_id_global"               value="$(arg frame_id_global)"/>
    <arg name="frame_id_robot_base"           value="$(arg frame_id_robot_base)"/>
    <arg name="frame_id_odom"                 value="$(arg frame_id_odom)"/>
    <arg name="topic_odom"                    value="$(arg topic_odom)"/>
    <arg name="topic_scan"                    value="$(arg topic_scan)"/>

    <arg name="topic_rgb"                     value="$(arg topic_rgb)"/>
    <arg name="topic_depth"                   value="$(arg topic_depth)"/>
    <arg name="topic_info"                    value="$(arg topic_info)"/>

    <arg name="stereo"                        value="$(arg stereo)"/>
    <arg name="topic_left_image"              value="$(arg topic_left_image)" />
    <arg name="topic_right_image"             value="$(arg topic_right_image)" />
    <arg name="topic_left_camera_info"        value="$(arg topic_left_camera_info)" />
    <arg name="topic_right_camera_info"       value="$(arg topic_right_camera_info)" />

    <arg name="topic_map"                     value="/$(arg multi_robot)/map"/>
    <arg name="initial_pose_x"                value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y"                value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_yaw"              value="$(arg initial_pose_yaw)"/>
    <arg name="file_map"                      value="$(arg file_map)"/>
    <arg name="file_database"                 value="$(arg file_database)"/>
  </include>

  <include file="$(find potbot_example)/launch/navigation/slam.launch">
    <arg name="method_slam"                   value="$(arg method_slam)"/>
    <arg name="frame_id_robot_base"           value="$(arg frame_id_robot_base)"/>
    <arg name="frame_id_odom"                 value="$(arg frame_id_odom)"/>
    <arg name="frame_id_global"               value="$(arg frame_id_global)"/>
    <arg name="topic_rgb"                     value="$(arg topic_rgb)"/>
    <arg name="topic_depth"                   value="$(arg topic_depth)"/>
    <arg name="topic_info"                    value="$(arg topic_info)"/>

    <arg name="stereo"                        value="$(arg stereo)"/>
    <arg name="topic_left_image"              value="$(arg topic_left_image)" />
    <arg name="topic_right_image"             value="$(arg topic_right_image)" />
    <arg name="topic_left_camera_info"        value="$(arg topic_left_camera_info)" />
    <arg name="topic_right_camera_info"       value="$(arg topic_right_camera_info)" />

    <arg name="topic_scan"                    value="$(arg topic_scan)"/>
    <arg name="topic_odom"                    value="$(arg topic_odom)"/>
    <arg name="topic_map"                     value="/$(arg multi_robot)/map"/>

    <arg name="file_database"                 value="$(arg file_database)"/>
    <arg name="reset_database"                value="$(arg reset_database)"/>
    <arg name="file_gmapping"                 value="$(arg file_gmapping)"/>
  </include>

  <include file="$(find potbot_example)/launch/navigation/move_base.launch">
    <arg name="frame_id_global"                 value="$(arg frame_id_global)"/>
    <arg name="frame_id_odom"                   value="$(arg frame_id_odom)"/>
    <arg name="frame_id_robot_base"             value="$(arg frame_id_robot_base)"/>
    <arg name="frame_id_scan"                   value="$(arg frame_id_scan)"/>
    <arg name="max_linear_velocity"             value="$(arg max_linear_velocity)"/>
    <arg name="max_angular_velocity"            value="$(arg max_angular_velocity)"/>
    <arg name="move_forward_only"               value="$(arg move_forward_only)"/>
    <arg name="topic_scan"                      value="$(arg topic_scan)"/>
    <arg name="topic_depth_points"              value="$(arg topic_depth_points)"/>
    <arg name="topic_odom"                      value="$(arg topic_odom)"/>
    <arg name="topic_cmd"                       value="$(arg topic_cmd)"/>
    <arg name="topic_goal"                      value="$(arg topic_goal)"/>
    <arg name="file_costmap_common_params"      value="$(arg file_costmap_common_params)"/>
    <arg name="file_global_costmap_params"      value="$(arg file_global_costmap_params)"/>
    <arg name="file_local_costmap_params"       value="$(arg file_local_costmap_params)"/>
    <arg name="file_move_base_params"           value="$(arg file_move_base_params)"/>
    <arg name="file_local_planner_params"       value="$(arg file_local_planner_params)"/>
  </include>

  <group if="$(arg use_rviz)">
    <node pkg="rviz" type="rviz" name="rviz_navigation" required="true" args="-d $(arg file_rviz)"/>
  </group>

</launch>
