<launch>   
  <arg name="frame_id_robot_base"             default="base_footprint"/>

  <arg name="topic_depth"                     default="camera/depth/image_raw"/>
  <arg name="topic_info"                      default="camera/depth/camera_info"/>

  <arg name="topic_cloud_downsample"                     default="camera/depth/points/downsample"/>
  <arg name="topic_cloud_ground"                      default="camera/depth/points/ground"/>
  <arg name="topic_cloud_obstacles"                      default="camera/depth/points/obstacles"/>

  <node pkg="nodelet" type="nodelet" name="pcl_downsampler" args="standalone rtabmap_ros/point_cloud_xyz" clear_params="true">
    <remap from="depth/image"         to="$(arg topic_depth)"/>
    <remap from="depth/camera_info"   to="$(arg topic_info)"/>
    <remap from="cloud"               to="$(arg topic_cloud_downsample)"/>

    <!-- <param name="decimation"  type="double" value="1.0"/> -->
    <param name="voxel_size"          type="double" value="0.05"/>
    <!-- <param name="approx_sync" type="bool"   value="false"/> -->
    <!-- <param name="approx_sync_max_interval" type="double" value="$(arg approx_sync_max_interval)"/> -->
  </node>

  <node pkg="nodelet" type="nodelet" name="pcl_detection" args="standalone rtabmap_ros/obstacles_detection" clear_params="true">
    <remap from="cloud"               to="$(arg topic_cloud_downsample)"/>
    <remap from="ground"              to="$(arg topic_cloud_ground)"/>
    <remap from="obstacles"           to="$(arg topic_cloud_obstacles)"/>

    <!-- <param name="decimation"  type="double" value="1.0"/> -->
    <param name="frame_id"            value="$(arg frame_id_robot_base)"/>
    <!-- <param name="approx_sync" type="bool"   value="false"/> -->
    <!-- <param name="approx_sync_max_interval" type="double" value="$(arg approx_sync_max_interval)"/> -->
  </node>

</launch>