<launch>
  <arg name="method_slam"                     default="gmapping"/>
  <arg name="frame_id_robot_base"             default="base_footprint"/>
  <arg name="frame_id_odom"                   default="odom"/>
  <arg name="frame_id_global"                 default="map"/>

  <arg name="topic_rgb"                       default="camera/rgb/image_raw" />
  <arg name="topic_depth"                     default="camera/depth/image_raw" />
  <arg name="topic_info"                      default="camera/rgb/camera_info" />
  <arg name="topic_scan"                      default="scan"/>
  <arg name="topic_odom"                      default="odom"/>
  <arg name="topic_map"                       default="map"/>

  <arg name="stereo"                          default="false"/>
  <arg name="topic_left_image"                default="camera/left_rect/image_rect" />
  <arg name="topic_left_camera_info"          default="camera/left_rect/camera_info" />
  <arg name="topic_right_image"               default="camera/right_rect/image_rect" />
  <arg name="topic_right_camera_info"         default="camera/right_rect/camera_info" />

  <arg name="publish_tf"                      default="true"/>

  <arg name="file_database"                   default="~/.ros/rtabmap.db"/>
  <arg name="reset_database"                  default="true"/>
  <arg name="rtabmap_args"                    default="--delete_db_on_start" if="$(arg reset_database)"/>
  <arg name="rtabmap_args"                    default="" unless="$(arg reset_database)"/>

  <arg name="file_gmapping"                   default="$(find potbot_example)/config/navigation/gmapping.yaml"/>

  <group if = "$(eval method_slam == 'gmapping')">
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
      <rosparam command="load"                file="$(arg file_gmapping)"/>
      <remap from="scan"                      to="$(arg topic_scan)"/>
      <param name="base_frame"                value="$(arg frame_id_robot_base)"/>
      <param name="odom_frame"                value="$(arg frame_id_odom)"/>
      <param name="map_frame"                 value="$(arg frame_id_global)"/>
      <param name="transform_publish_period"  value="0.05" if="$(arg publish_tf)"/>
      <param name="transform_publish_period"  value="0.0" unless="$(arg publish_tf)"/>
    </node>
  </group>

  <group if = "$(eval method_slam == 'rtabmap')">
    <include file="$(find potbot_example)/launch/navigation/rtabmap.launch">
      <arg name="rtabmapviz"              value="false" />
      <arg name="rviz"                    value="false" />
      <arg name="localization"            value="false"/>
      <arg name="gui_cfg"                 value="~/.ros/rtabmap_gui.ini" />
      <arg name="rviz_cfg"                value="$(find rtabmap_ros)/launch/config/rgbd.rviz" />
  
      <arg name="frame_id"                value="$(arg frame_id_robot_base)"/>
      <arg name="namespace"               value="rtabmap"/>
      <arg name="database_path"           value="$(arg file_database)"/>
      <arg name="wait_for_transform"      value="0.2"/>
      <arg name="rtabmap_args"            value="$(arg rtabmap_args)"/>
      <arg name="launch_prefix"           value=""/>
      <arg name="approx_sync"             value="true"/>
  
      <arg name="rgb_topic"               value="$(arg topic_rgb)" />
      <arg name="depth_topic"             value="$(arg topic_depth)" />
      <arg name="camera_info_topic"       value="$(arg topic_info)" />
      <arg name="compressed"              value="false"/>

      <arg name="stereo"                  value="$(arg stereo)"/>
      <arg name="left_image_topic"        value="$(arg topic_left_image)" />
      <arg name="right_image_topic"       value="$(arg topic_right_image)" />
      <arg name="left_camera_info_topic"  value="$(arg topic_left_camera_info)" />
      <arg name="right_camera_info_topic" value="$(arg topic_right_camera_info)" />
  
      <arg name="subscribe_scan"          value="true"/>
      <arg name="scan_topic"              value="$(arg topic_scan)"/>
  
      <arg name="subscribe_scan_cloud"    value="false"/>
      <arg name="scan_cloud_topic"        value="/scan_cloud"/>
  
      <arg name="visual_odometry"         value="false"/>
      <arg name="odom_topic"              value="$(arg topic_odom)"/>
      <arg name="odom_frame_id"           value=""/>
      <arg name="odom_args"               value="$(arg rtabmap_args)"/>
      
      <arg name="topic_grid_map"          value="$(arg topic_map)"/>
    </include>
  </group>

</launch>