<launch>
  <arg name="set_base_frame"              default="base_footprint"/>
  <arg name="set_odom_frame"              default="odom"/>
  <arg name="set_map_frame"               default="map"/>
  <arg name="publish_tf"                  default="true"/>

  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam command="load"                file="$(find potbot_example)/config/navigation/gmapping.yaml" />
    <param name="base_frame"                value="$(arg set_base_frame)"/>
    <param name="odom_frame"                value="$(arg set_odom_frame)"/>
    <param name="map_frame"                 value="$(arg set_map_frame)"/>
    <param name="transform_publish_period"  value="0.05" if="$(arg publish_tf)"/>
    <param name="transform_publish_period"  value="0.0" unless="$(arg publish_tf)"/>
  </node>

</launch>