<launch>
  <arg name="topic_rgb"           default="camera/rgb/image_raw"/>
  <arg name="topic_info"          default="camera/rgb/camera_info"/>
  <arg name="topic_depth"         default="camera/depth/image_raw"/>
  <arg name="frame_id_camera"     default="camera_rgb_frame"/>
  <arg name="frame_id_odom"       default="odom"/>
  <arg name="initial_pose"        default="0 0 0 0 0 0"/>

  <node pkg="rtabmap_ros" type="rgbd_odometry" name="visual_odometry">
    <remap from="rgb/image"       to="$(arg topic_rgb)"/>
    <remap from="depth/image"     to="$(arg topic_depth)"/>
    <remap from="rgb/camera_info" to="$(arg topic_info)"/>
    <remap from="odom"            to="visual_odom"/>
    <param name="frame_id"        value="$(arg frame_id_camera)"/>
    <param name="odom_frame_id"   value="$(arg frame_id_odom)"/>
    <param name="publish_tf"      value="false"/>
    <param name="initial_pose"    value="$(arg initial_pose)"/>
    <param name="approx_sync"     value="false"/>
  </node>

</launch>
