<launch>
	<arg name="world_name" default="$(find potbot_description)/worlds/willowgarage.world"/>

  <include file="$(find potbot_example)/launch/gazebo/gazebo.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!-- beego2(パンチルト) -->
  <include file="$(find potbot_example)/launch/gazebo/spawn_robot.launch">
    <arg name="tf_prefix"       value="robot_4"/>
    <arg name="model"           value="$(find potbot_example)/urdf/beego2.urdf.xacro"/>
    <arg name="laser_visual"    value="false"/>
    <arg name="camera_visual"   value="true"/>
  </include>
  <rosparam>
    robot_4:      
      pan:
        type: position_controllers/JointPositionController
        joint: pan_joint
        pid: {p: 2.0, i: 1.0, d: 0.1, i_clamp_min: -1.0, i_clamp_max: 1.0}
      tilt:
        type: position_controllers/JointPositionController
        joint: tilt_joint
        pid: {p: 2.0, i: 1.0, d: 0.1, i_clamp_min: -1.0, i_clamp_max: 1.0}
      joint_state_controller:
        type: joint_state_controller/JointStateController
        publish_rate: 10  
  </rosparam>
  <node name="controller_spawner_pan" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/robot_4" args="pan tilt joint_state_controller"/>

</launch>
