<launch>
	<!-- <env name="GAZEBO_MODEL_PATH" value="$(find potbot_example)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <arg name="world_name" default="$(find potbot_example)/worlds/TDU_0113_0.world"/> -->
  <env name="GAZEBO_MODEL_PATH" value="$(find multi_turtlebot_gazebo)/world/models:$(optenv GAZEBO_MODEL_PATH)" /> 
  <arg name="world_name" default="$(find multi_turtlebot_gazebo)/world/tdu_1-13_corridor_marker.world"/>

  <include file="$(find potbot_example)/launch/gazebo/gazebo.launch">
    <arg name="world_name"      value="$(arg world_name)"/>
  </include>

  <!-- megarover_ver2.1 -->
  <include file="$(find potbot_example)/launch/gazebo/spawn_robot.launch">
    <arg name="tf_prefix"       value="robot_5"/>
    <arg name="model"           value="$(find potbot_example)/urdf/megarover21.urdf.xacro"/>
    <!-- <arg name="x_pos"           value="7.0"/> -->
    <!-- <arg name="yaw"             value="1.57"/> -->
    <arg name="laser_visual"    value="false"/>
    <arg name="camera_visual"   value="true"/>
  </include>

</launch>
