<launch>
	<arg name="world_name" default="$(find turtlebot3_gazebo)/worlds/empty.world"/>

  <include file="$(find potbot_example)/launch/gazebo/gazebo.launch">
    <arg name="world_name"      value="$(arg world_name)"/>
  </include>

  <!-- megarover_ver3 -->
  <include file="$(find potbot_example)/launch/gazebo/spawn_robot.launch">
    <arg name="tf_prefix"       value="robot_6"/>
    <arg name="model"           value="$(find potbot_example)/urdf/megarover3.urdf.xacro"/>
    <arg name="laser_visual"    value="false"/>
    <arg name="camera_visual"   value="true"/>
  </include>

</launch>
