<launch>
  <arg name="world_name" default="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>

  <include file="$(find potbot_example)/launch/gazebo/gazebo.launch">
    <arg name="world_name"      value="$(arg world_name)"/>
  </include>

  <!-- megarover_ver2.1 -->
  <include file="$(find potbot_example)/launch/gazebo/spawn_robot.launch">
    <arg name="tf_prefix"       value="robot_5"/>
    <arg name="model"           value="$(find potbot_example)/urdf/megarover21.urdf.xacro"/>
    <arg name="y_pos"           value="0.3"/>
    <arg name="laser_visual"    value="false"/>
    <arg name="camera_visual"   value="true"/>
  </include>

</launch>
