<launch>
  <arg name="world_name"        default="$(find potbot_example)/worlds/willowgarage_1.world"/>

  <include file="$(find potbot_example)/launch/gazebo/gazebo.launch">
    <arg name="world_name"      value="$(arg world_name)"/>
  </include>

  <include file="$(find potbot_example)/launch/gazebo/spawn_model/spawn_turtlebot3.launch">
    <arg name="tf_prefix"       value="robot_0"/>
    <arg name="x_pos"           value="2.0"/>
    <arg name="y_pos"           value="6.0"/>
    <arg name="z_pos"           value="0.01"/>
    <arg name="yaw"             value="-1.57"/>
    <arg name="model"           value="waffle_pi"/>
    <arg name="laser_visual"    value="false"/>
    <arg name="camera_visual"   value="false"/>
  </include>

  <include file="$(find potbot_example)/launch/gazebo/spawn_model/spawn_turtlebot3.launch">
    <arg name="tf_prefix"       value="robot_1"/>
    <arg name="x_pos"           value="2.0"/>
    <arg name="y_pos"           value="0.0"/>
    <arg name="z_pos"           value="0.01"/>
    <arg name="yaw"             value="1.57"/>
    <arg name="model"           value="burger"/>
    <arg name="laser_visual"    value="false"/>
  </include>

</launch>
