<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find multi_turtlebot_gazebo)/world/models:$(optenv GAZEBO_MODEL_PATH)" /> 
  <arg name="world_name"        default="$(find multi_turtlebot_gazebo)/world/tdu_1-13_corridor_marker.world"/>
  <arg name="model"             default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos"             default="0"/>
  <arg name="y_pos"             default="0"/>
  <arg name="yaw"               default="0"/>

  <include file="$(find potbot_example)/launch/gazebo/gazebo.launch">
    <arg name="world_name"      value="$(arg world_name)"/>
  </include>

  <include file="$(find potbot_example)/launch/gazebo/spawn_model/spawn_turtlebot3.launch">
    <arg name="tf_prefix"       value="robot_0"/>
    <arg name="x_pos"           value="$(arg x_pos)"/>
    <arg name="y_pos"           value="$(arg y_pos)"/>
    <arg name="yaw"             value="$(arg yaw)"/>
    <arg name="model"           value="$(arg model)"/>
    <arg name="laser_visual"    value="false"/>
    <arg name="camera_visual"   value="true"/>
  </include>

</launch>
