<launch>

  <arg name="multi_robot"                 default="robot_4"/>
  <arg name="camera_name"                 default="camera"/>
  <arg name="frame_id_camera"             default="$(arg multi_robot)/$(arg camera_name)"/>
  <arg name="frame_id_odom"               default="$(arg multi_robot)/odom"/>
  <arg name="frame_id_robot_base"         default="$(arg multi_robot)/base_footprint"/>
  <arg name="TOPIC/CMD_VEL"               default="cmd_vel"/>
  <arg name="topic_odom"                  default="odom"/>
  <arg name="topic_initial_pose"          default="initialpose"/>
  <arg name="initial_pose_x"              default="0"/>
  <arg name="initial_pose_y"              default="0"/>
  <arg name="initial_pose_yaw"            default="0"/>
  <arg name="file_urdf"                   default="$(find potbot_example)/urdf/megarover3.urdf.xacro"/>

  <include file="$(find mynt_eye_ros_wrapper)/launch/mynteye.launch">
    <arg name="mynteye" value="$(arg frame_id_camera)"/>
  </include>

  <group ns="$(arg multi_robot)">

    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
      <param name="ip_address"                value="172.16.0.10"/>
      <param name="frame_id"                  value="base_scan"/>
      <param name="tf_prefix"                 value="/$(arg multi_robot)"/>
    </node>

  </group>

</launch>
