<launch>

  <arg name="multi_robot"                 default="robot_6"/>
  <arg name="camera_name"                 default="$(arg multi_robot)/camera"/>
  <arg name="frame_id_odom"               default="$(arg multi_robot)/odom"/>
  <arg name="frame_id_robot_base"         default="$(arg multi_robot)/base_footprint"/>
  <arg name="TOPIC/CMD_VEL"               default="cmd_vel"/>
  <arg name="topic_odom"                  default="odom"/>
  <arg name="topic_initial_pose"          default="initialpose"/>
  <arg name="initial_pose_x"              default="0"/>
  <arg name="initial_pose_y"              default="0"/>
  <arg name="initial_pose_yaw"            default="0"/>

  <include file="$(find orbbec_camera)/launch/gemini2.launch">
    <arg name="camera_name" value="$(arg camera_name)"/>
  </include>

  <group ns="$(arg multi_robot)">

    <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py" output="screen">
      <param name="port" value="/dev/ttyUSB0"/> 
      <param name="baud" value="115200"/>
      <remap from="rover_twist" to="cmd_vel"/>
    </node>

    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
      <param name="serial_port" value="/dev/ttyACM0"/> 
      <param name="frame_id" value="$(arg multi_robot)/base_scan"/>
      <param name="tf_prefix" value="/$(arg multi_robot)"/>
    </node>

    <node pkg="potbot_example" type="twist_to_odometry" name="twist_to_odometry">
      <param name="publish_tf"                value="true"/>
      <param name="frame_id_odom"             value="$(arg frame_id_odom)"/>
      <param name="frame_id_robot_base"       value="$(arg frame_id_robot_base)"/>
      <!-- <remap from="rover_odo"                 to="rover_odo"/> -->
      <remap from="initialpose"               to="$(arg topic_initial_pose)"/>
      <!-- <remap from="imu/data"                  to="imu/data_raw"/> -->
      <remap from="odom"                      to="$(arg topic_odom)"/>
      <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
      <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
      <param name="initial_pose_yaw"          value="$(arg initial_pose_yaw)"/>
    </node>

  </group>

</launch>
