<launch>
  <arg name="set_base_frame" default="robot_5/base_footprint"/>
  <arg name="set_odom_frame" default="robot_5/odom"/>
  <arg name="set_map_frame"  default="map"/>

  <!-- <include file="$(find mynt_eye_ros_wrapper)/launch/mynteye.launch"> -->
    <!-- <arg name="mynteye" value="robot_5/mynteye"/> -->
    <!-- <arg name="base_frame_id" value="robot_6/camera_link" /> -->
  <!-- </include> -->

  <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyUSB0"/> 
    <param name="baud" value="115200"/>
  </node>

  <include file="$(find potbot)/launch/potbot_remote.launch">
    <arg name="urdf_file" value="$(find xacro)/xacro '$(find potbot_example)/urdf/megarover3.urdf.xacro'" />
    <arg name="multi_robot_name" value="robot_6"/>
  </include>

  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="serial_port" value="/dev/ttyACM0"/> 
    <param name="frame_id" value="base_scan"/>
    <param name="tf_prefix" value="/robot_6"/>
  </node>

  <node pkg="potbot_localization" type="potbot_localization_twist_to_odometry" name="potbot_localization_twist_to_odometry" output="screen">
    <param name="FRAME_ID/ODOM" value="robot_6/odom"/>
    <param name="FRAME_ID/ROBOT_BASE" value="robot_6/base_link"/>
    <param name="TOPIC/SUB/TWIST" value="rover_odo"/>
    <param name="TOPIC/PUB/ODOM" value="odom"/>
  </node>

  <include file="$(find potbot_example)/launch/megarover3_act_robot_localization.launch"/>

</launch>
