<launch>

  <arg name="GROUP"                       default="robot_6"/>
  <arg name="CAMERA_NAME"                 default="camera"/>
  <arg name="FRAME_ID/ODOM"               default="$(arg GROUP)/odom"/>
  <arg name="FRAME_ID/BASE_FOOTPRINT"     default="$(arg GROUP)/base_footprint"/>
  <arg name="FRAME_ID/ROBOT_BASE"         default="$(arg GROUP)/base_link"/>
  <arg name="TOPIC/CMD_VEL"               default="cmd_vel"/>
  <arg name="TOPIC/INITIAL_POSE"          default="initialpose"/>
  <arg name="INITIAL/POSE/X"              default="0"/>
  <arg name="INITIAL/POSE/Y"              default="0"/>
  <arg name="INITIAL/POSE/YAW"            default="0"/>

  <include file="$(find orbbec_camera)/launch/gemini2.launch">
    <arg name="camera_name" value="$(arg CAMERA_NAME)"/>
  </include>

  <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyUSB0"/> 
    <param name="baud" value="115200"/>
    <remap from="rover_twist" to="cmd_vel"/>
  </node>

  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="serial_port" value="/dev/ttyACM0"/> 
    <param name="frame_id" value="base_scan"/>
    <param name="tf_prefix" value="/$(arg GROUP)"/>
  </node>

  <node pkg="potbot_localization" type="potbot_localization_twist_to_odometry" name="potbot_localization_twist_to_odometry" output="screen">
    <param name="FRAME_ID/ODOM"             value="$(arg FRAME_ID/ODOM)"/>
    <param name="FRAME_ID/BASE_FOOTPRINT"   value="$(arg FRAME_ID/BASE_FOOTPRINT)"/>
    <param name="FRAME_ID/ROBOT_BASE"       value="$(arg FRAME_ID/ROBOT_BASE)"/>
    <param name="TOPIC/SUB/TWIST"           value="rover_odo"/>
    <param name="TOPIC/SUB/INITIAL_POSE"    value="$(arg TOPIC/INITIAL_POSE)"/>
    <param name="TOPIC/PUB/ODOM"            value="odom"/>
    <param name="INITIAL/POSE/X"            value="$(arg INITIAL/POSE/X)"/>
    <param name="INITIAL/POSE/Y"            value="$(arg INITIAL/POSE/Y)"/>
    <param name="INITIAL/POSE/YAW"          value="$(arg INITIAL/POSE/YAW)"/>
  </node>

</launch>
