<launch>

  <include file="$(find controller_tutorial)/launch/follow_marker.launch">
    <arg name="multi_robot"                   value="robot_1"/>
    <arg name="use_rviz"                      value="false"/>
    <arg name="use_remote"                    value="true"/>
    <arg name="use_map"                       value="false"/>
    <arg name="model"                         value="burger"/>
    <arg name="file_marker"                   value="$(find potbot_example)/config/target_marker/1.yaml"/>
    <arg name="repeat_mode"                   value="reverse"/>
    <arg name="max_linear_velocity"           value="0.2"/>
    <arg name="min_linear_velocity"           value="-0.2"/>
    <arg name="max_angular_velocity"          value="1.5"/>
    <arg name="min_angular_velocity"          value="-1.5"/>
  </include>

  <include file="$(find controller_tutorial)/launch/follow_marker.launch">
    <arg name="multi_robot"                   value="robot_2"/>
    <arg name="use_rviz"                      value="false"/>
    <arg name="use_remote"                    value="true"/>
    <arg name="use_map"                       value="false"/>
    <arg name="model"                         value="burger"/>
    <arg name="file_marker"                   value="$(find potbot_example)/config/target_marker/2.yaml"/>
    <arg name="repeat_mode"                   value="reverse"/>
    <arg name="max_linear_velocity"           value="0.2"/>
    <arg name="min_linear_velocity"           value="-0.2"/>
    <arg name="max_angular_velocity"          value="1.5"/>
    <arg name="min_angular_velocity"          value="-1.5"/>
  </include>

  <include file="$(find controller_tutorial)/launch/follow_marker.launch">
    <arg name="multi_robot"                   value="robot_3"/>
    <arg name="use_rviz"                      value="false"/>
    <arg name="use_remote"                    value="true"/>
    <arg name="use_map"                       value="false"/>
    <arg name="model"                         value="burger"/>
    <arg name="file_marker"                   value="$(find potbot_example)/config/target_marker/3.yaml"/>
    <arg name="repeat_mode"                   value="reverse"/>
    <arg name="max_linear_velocity"           value="0.2"/>
    <arg name="min_linear_velocity"           value="-0.2"/>
    <arg name="max_angular_velocity"          value="1.5"/>
    <arg name="min_angular_velocity"          value="-1.5"/>
  </include>

  <include file="$(find controller_tutorial)/launch/follow_marker.launch">
    <arg name="multi_robot"                   value="robot_4"/>
    <arg name="use_rviz"                      value="false"/>
    <arg name="use_remote"                    value="true"/>
    <arg name="use_map"                       value="false"/>
    <arg name="model"                         value="burger"/>
    <arg name="file_marker"                   value="$(find potbot_example)/config/target_marker/4.yaml"/>
    <arg name="repeat_mode"                   value="reverse"/>
    <arg name="max_linear_velocity"           value="0.2"/>
    <arg name="min_linear_velocity"           value="-0.2"/>
    <arg name="max_angular_velocity"          value="1.5"/>
    <arg name="min_angular_velocity"          value="-1.5"/>
  </include>

</launch>
