<launch>
  <arg name="use_rviz"                    default="true"/>
  <arg name="publish_robot_description"   default="true"/>
  <arg name="multi_robot"                 default="robot_0"/>
  <arg name="set_base_frame"              default="$(arg multi_robot)/base_footprint"/>
  <arg name="set_odom_frame"              default="$(arg multi_robot)/odom"/>
  <arg name="set_map_frame"               default="map"/>
  <arg name="scan_topic"                  default="scan"/>
  <arg name="initial_pose_x"              default="0.0"/>
  <arg name="initial_pose_y"              default="0.0"/>
  <arg name="initial_pose_a"              default="0.0"/>
  <arg name="map_file"                    default="$(find potbot_description)/maps/garage.yaml"/>
  <arg name="file_urdf"                   default="$(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro"/>
  <arg name="file_rviz"                   default="$(find potbot_example)/rviz/navigation.rviz"/>

  <group ns="$(arg multi_robot)">

    <group if="$(arg publish_robot_description)">
      <include file="$(find potbot)/launch/env/remote.launch">
        <arg name="urdf_file"               default="$(find xacro)/xacro --inorder '$(arg file_urdf)'"/>
        <arg name="multi_robot_name"        value="$(arg multi_robot)"/>
      </include>
    </group>

    <!-- AMCL -->
    <node pkg="amcl" type="amcl" name="amcl">
      <rosparam command="load" file="$(find potbot_example)/config/navigation/amcl.yaml" />
      <remap from="scan"                      to="$(arg scan_topic)"/>
      <param name="odom_frame_id"             value="$(arg set_odom_frame)"/>
      <param name="base_frame_id"             value="$(arg set_base_frame)"/>
      <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
      <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
      <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    </node>

    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>

    <group if="$(arg use_rviz)">
      <node pkg="rviz" type="rviz" name="rviz_amcl" required="true" args="-d $(arg file_rviz)"/>
    </group>

</group>

</launch>
