<launch>
  <arg name="GROUP" default="/robot_4"/>
  <arg name="ROBOT_NAME" default="beego"/>
  <!--megarover turtlebot3 beego-->
  <arg name="IS_SIMULATOR" default="false"/>
  <arg name="USE_RVIZ" default="true"/>
  <arg name="PUBLISH_COMMAND" default="true"/>
  <arg name="FRAME_ID/GLOBAL" default="map"/>
  <arg name="FRAME_ID/ROBOT_BASE" default="robot_4/base_link"/>
  <arg name="FRAME_ID/LIDAR" default="robot_4/base_scan"/>
  <arg name="TARGET/POSITION/X" default="0"/>
  <arg name="TARGET/POSITION/Y" default="0"/>
  <arg name="TARGET/POSITION/YAW" default="0"/>
  <arg name="TOPIC/SCAN" default="/robot_4/scan"/>
  <arg name="TOPIC/ODOM" default="/robot_4/odom"/>
  <arg name="TOPIC/CMD_VEL" default="/beego/cmd_vel"/>

  <include file="$(find mynt_eye_ros_wrapper)/launch/mynteye.launch">
    <arg name="mynteye" value="robot_4/mynteye"/>
    <arg name="base_frame_id" value="robot_4/camera_link" />
  </include>

  <group ns="$(arg GROUP)">

    <!-- <node pkg="urg_node" type="urg_node" name="urg_node">
      <param name="ip_address" value="172.16.0.10"/>
      <param name="frame_id" value="base_scan"/>
      <param name="tf_prefix" value="/robot_4"/>
    </node> -->

    <include file="$(find potbot)/launch/potbot_remote.launch">
      <arg name="model" value="beego2"/>
      <arg name="multi_robot_name" value="robot_4"/>
    </include>

    <node pkg="tf" type="static_transform_publisher" name="odom_tf" args="0 0 0 0 0 0 map robot_4/odom 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_tf" args="0 0 0 0 0 0 robot_4/odom robot_4/base_footprint 100" >
      <param name="yaw" value="0"/>
      <param name="d" value="0.22"/>
    </node>

    <node pkg="dynamixel_sdk_examples" type="read_write_node_pid" name="pan_tilt_motor">
      <remap from="/set_position" to="set_position"/>
    </node>
    
    <include file="$(find mynteye_pointcloud)/launch/all.launch"/>
    <include file="$(find pan_order)/launch/pan_order.launch"/>

    <!-- <node pkg="potbot_localization" type="potbot_localization_twist_to_odometry" name="potbot_localization_twist_to_odometry" output="screen">
      <param name="FRAME_ID/ODOM" value="robot_4/base_footprint"/>
      <param name="FRAME_ID/ROBOT_BASE" value="robot_4/base_link"/>
      <param name="TOPIC/SUB/TWIST" value="/rover_odo"/>
      <param name="TOPIC/PUB/ODOM" value="$(arg TOPIC/ODOM)"/>
    </node> -->

    <!-- <include file="$(find potbot_localization)/launch/Localization.launch">
      <arg name="ROBOT_NAME" value="$(arg ROBOT_NAME)"/>
      <arg name="IS_SIMULATOR" value="$(arg IS_SIMULATOR)"/>
      <arg name="USE_RVIZ" value="$(arg USE_RVIZ)"/>
      <arg name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="FRAME_ID/LIDAR" value="$(arg FRAME_ID/LIDAR)"/>
      <arg name="TOPIC/SCAN" value="$(arg TOPIC/SCAN)"/>
      <arg name="TOPIC/ODOM" value="$(arg TOPIC/ODOM)"/>
    </include>

    <include file="$(find potbot_controller)/launch/Controller.launch">
      <arg name="ROBOT_NAME" value="$(arg ROBOT_NAME)"/>
      <arg name="IS_SIMULATOR" value="$(arg IS_SIMULATOR)"/>
      <arg name="PUBLISH_COMMAND" value="$(arg PUBLISH_COMMAND)"/>
      <arg name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="TARGET/POSITION/X" value="$(arg TARGET/POSITION/X)"/>
      <arg name="TARGET/POSITION/Y" value="$(arg TARGET/POSITION/Y)"/>
      <arg name="TARGET/POSITION/YAW" value="$(arg TARGET/POSITION/YAW)"/>
      <arg name="COLLISION_DETECTION" value="true"/>
      <arg name="TOPIC/SCAN" value="$(arg TOPIC/SCAN)"/>
      <arg name="TOPIC/ODOM" value="$(arg TOPIC/ODOM)"/>
      <arg name="TOPIC/CMD_VEL" value="$(arg TOPIC/CMD_VEL)"/>
    </include>

    <include file="$(find potbot_filter)/launch/Filter.launch">
      <arg name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="FRAME_ID/LIDAR" value="$(arg FRAME_ID/LIDAR)"/>
      <arg name="TOPIC/SCAN" value="$(arg TOPIC/SCAN)"/>
      <arg name="TOPIC/ODOM" value="$(arg TOPIC/ODOM)"/>
    </include>
    
    <include file="$(find potbot_pathplanner)/launch/PathPlanning.launch">
      <arg name="USE_RVIZ" value="$(arg USE_RVIZ)"/>
      <arg name="PATH_PLANNING_METHOD" value="potential_method"/>
      <arg name="PATH_PLANNING_FILE" default="straight.csv"/>
      <arg name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="TARGET/POSITION/X" value="$(arg TARGET/POSITION/X)"/>
      <arg name="TARGET/POSITION/Y" value="$(arg TARGET/POSITION/Y)"/>
      <arg name="TARGET/POSITION/YAW" value="$(arg TARGET/POSITION/YAW)"/>
      <arg name="TOPIC/SCAN" value="$(arg TOPIC/SCAN)"/>
      <arg name="TOPIC/ODOM" value="$(arg TOPIC/ODOM)"/>
    </include> -->

    <include file="$(find potbot_pcl)/launch/PCLClustering.launch">
      <arg name="TOPIC/PCL2"              value="mynteye/points/data_raw"/>
      <arg name="CLUSTERING_METHOD"       value="Euclidean"/>
    </include>
    
    <group if="$(arg USE_RVIZ)">
      <include file="$(find potbot_rviz)/launch/rviz.launch">
        <arg name="RVIZ_FILE" value="beego2.rviz"/>
      </include>
    </group>

  </group>

</launch>
