<launch>
  <arg name="GROUP"                       default="robot_5"/> ロボットID トピック名やtfのフレームidを確認して制御したいロボットに合わせて適切に設定してください。
  <arg name="IS_SIMULATOR"                default="false"/>
  <arg name="USE_RVIZ"                    default="true"/>  rvizを使用するかどうか
  <arg name="PUBLISH_COMMAND"             default="true"/>  指令値を出力するかどうか
  <arg name="FRAME_ID/GLOBAL"             default="map"/>   地図座標系のフレームid
  <arg name="FRAME_ID/ODOM"               default="$(arg GROUP)/odom"/> 自己位置原点のフレームid
  <arg name="FRAME_ID/ROBOT_BASE"         default="$(arg GROUP)/base_link"/>  ロボット座標系のフレームid
  <arg name="FRAME_ID/LIDAR"              default="$(arg GROUP)/base_scan"/>  センサ(LRF)座標系のフレームid
  <arg name="TARGET/POSITION/X"           default="0"/> rvizを使用しない場合の目標位置X
  <arg name="TARGET/POSITION/Y"           default="0"/> rvizを使用しない場合の目標位置Y
  <arg name="TARGET/POSITION/YAW"         default="0"/> rvizを使用しない場合の目標姿勢
  <arg name="TOPIC/SCAN"                  default="scan"/>  LRFデータのトピック名
  <arg name="TOPIC/ODOM"                  default="odom/fusion"/> potbotで使用する自己位置データのトピック名
  <arg name="TOPIC/CMD_VEL"               default="cmd_vel"/> 出力する制御司令のトピック名
  <arg name="FILE/URDF"                   default="$(find potbot_example)/urdf/megarover21.urdf.xacro"/>  ロボットの寸法やセンサ構成を記述したファイル(.urdf)
  <arg name="FILE/MAP"                    default="$(find potbot_description)/maps/garage.yaml"/> 自己位置推定に使用する地図データ(.yaml)
  <arg name="FILE/FUSION"                 default="$(find potbot_example)/config/megarover_robot_localization.yaml"/> 自己位置データのトピック名やデータ型を記述したファイル(.yaml)
  <arg name="FILE/RVIZ"                   default="$(find potbot_example)/rviz/megarover21.rviz"/>  rvizの設定を保存したファイル(.rviz)

  <group ns="$(arg GROUP)">

    <include file="$(find potbot)/launch/env/remote.launch">
      <arg name="urdf_file"               default="$(find xacro)/xacro --inorder '$(arg FILE/URDF)'"/>
      <arg name="multi_robot_name"        value="$(arg GROUP)"/>
    </include>

    <include file="$(find potbot)/launch/env/amcl.launch">
      <arg name="map_file"                value="$(arg FILE/MAP)"/>
      <arg name="initial_pose_x"          value="0.0"/>
      <arg name="initial_pose_y"          value="0.0"/>
      <arg name="initial_pose_a"          value="0.0"/>
      <arg name="odom_frame_id"           value="$(arg FRAME_ID/ODOM)"/>
      <arg name="base_frame_id"           value="$(arg FRAME_ID/ROBOT_BASE)"/>
    </include>

    <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true" output="screen">
      <rosparam command="load"            file="$(arg FILE/FUSION)"/>
      <remap from="odometry/filtered"     to="$(arg TOPIC/ODOM)"/>
    </node>

    <include file="$(find potbot)/launch/env/potbot.launch">
      <arg name="GROUP"                   value="$(arg GROUP)"/>
      <arg name="USE_RVIZ"                value="$(arg USE_RVIZ)"/>
      <arg name="PUBLISH_COMMAND"         value="$(arg PUBLISH_COMMAND)"/>
      <arg name="FRAME_ID/GLOBAL"         value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE"     value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="FRAME_ID/LIDAR"          value="$(arg FRAME_ID/LIDAR)"/>
      <arg name="TARGET/POSITION/X"       value="$(arg TARGET/POSITION/X)"/>
      <arg name="TARGET/POSITION/Y"       value="$(arg TARGET/POSITION/Y)"/>
      <arg name="TARGET/POSITION/YAW"     value="$(arg TARGET/POSITION/YAW)"/>
      <arg name="TOPIC/SCAN"              value="$(arg TOPIC/SCAN)"/>
      <arg name="TOPIC/ODOM"              value="$(arg TOPIC/ODOM)"/>
      <arg name="TOPIC/CMD_VEL"           value="$(arg TOPIC/CMD_VEL)"/>
      <arg name="FILE/RVIZ"               value="$(arg FILE/RVIZ)"/>
    </include>

  </group>
</launch>
