<launch>
  <arg name="GROUP"                       default="/robot_4"/>
  <arg name="ROBOT_NAME"                  default="megarover"/>
  <!--megarover turtlebot3 beego-->
  <arg name="IS_SIMULATOR"                default="false"/>
  <arg name="USE_RVIZ"                    default="true"/>
  <arg name="PUBLISH_COMMAND"             default="true"/>
  <arg name="FRAME_ID/GLOBAL"             default="map"/>
  <arg name="FRAME_ID/ROBOT_BASE"         default="robot_4/base_link"/>
  <arg name="FRAME_ID/LIDAR"              default="robot_4/base_scan"/>
  <arg name="TARGET/POSITION/X"           default="0"/>
  <arg name="TARGET/POSITION/Y"           default="0"/>
  <arg name="TARGET/POSITION/YAW"         default="0"/>
  <arg name="TOPIC/SCAN"                  default="/robot_4/scan"/>
  <arg name="TOPIC/ODOM"                  default="/robot_4/odom/fusion"/>
  <arg name="TOPIC/CMD_VEL"               default="/robot_4/cmd_vel"/>

  <group ns="$(arg GROUP)">

    <include file="$(find potbot)/launch/beego2_amcl.launch">
      <arg name="map_file"                value="$(find potbot_description)/maps/garage.yaml"/>
      <arg name="USE_RVIZ"                value="false"/>
      <arg name="initial_pose_x"          value="6.5"/>
      <arg name="initial_pose_y"          value="1.0"/>
      <arg name="initial_pose_a"          value="3.14"/>
    </include>

    <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true" output="screen">
      <rosparam command="load"            file="$(find potbot_description)/config/beego2_robot_localization.yaml" />
      <remap from="odometry/filtered"     to="odom/fusion"/>
    </node>

    <include file="$(find potbot_localization)/launch/Localization.launch">
      <arg name="ROBOT_NAME"              value="$(arg ROBOT_NAME)"/>
      <arg name="IS_SIMULATOR"            value="$(arg IS_SIMULATOR)"/>
      <arg name="USE_RVIZ"                value="$(arg USE_RVIZ)"/>
      <arg name="FRAME_ID/GLOBAL"         value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE"     value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="FRAME_ID/LIDAR"          value="$(arg FRAME_ID/LIDAR)"/>
      <arg name="TOPIC/SCAN"              value="$(arg TOPIC/SCAN)"/>
      <arg name="TOPIC/ODOM"              value="$(arg TOPIC/ODOM)"/>
    </include>

    <include file="$(find potbot_controller)/launch/Controller.launch">
      <arg name="PUBLISH_COMMAND"         value="$(arg PUBLISH_COMMAND)"/>
      <arg name="FRAME_ID/GLOBAL"         value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE"     value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="TARGET/POSITION/X"       value="$(arg TARGET/POSITION/X)"/>
      <arg name="TARGET/POSITION/Y"       value="$(arg TARGET/POSITION/Y)"/>
      <arg name="TARGET/POSITION/YAW"     value="$(arg TARGET/POSITION/YAW)"/>
      <arg name="TOPIC/ODOM"              value="$(arg TOPIC/ODOM)"/>
      <arg name="TOPIC/CMD_VEL"           value="$(arg TOPIC/CMD_VEL)"/>
    </include>

    <include file="$(find potbot_filter)/launch/Filter.launch">
      <arg name="FRAME_ID/GLOBAL"         value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE"     value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="TOPIC/SCAN"              value="$(arg TOPIC/SCAN)"/>
    </include>
    
    <include file="$(find potbot_pathplanner)/launch/PathPlanning.launch">
      <arg name="USE_RVIZ"                value="$(arg USE_RVIZ)"/>
      <arg name="PATH_PLANNING_METHOD"    value="potential_method"/>
      <arg name="PATH_PLANNING_FILE"      default="straight.csv"/>
      <arg name="FRAME_ID/GLOBAL"         value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE"     value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="TARGET/POSITION/X"       value="$(arg TARGET/POSITION/X)"/>
      <arg name="TARGET/POSITION/Y"       value="$(arg TARGET/POSITION/Y)"/>
      <arg name="TARGET/POSITION/YAW"     value="$(arg TARGET/POSITION/YAW)"/>
      <arg name="TOPIC/SCAN"              value="$(arg TOPIC/SCAN)"/>
      <arg name="TOPIC/ODOM"              value="$(arg TOPIC/ODOM)"/>
    </include>
    
    <group if="$(arg USE_RVIZ)">
      <include file="$(find potbot_rviz)/launch/rviz.launch">
        <arg name="RVIZ_FILE"             value="beego2.rviz"/>
      </include>
    </group>

  </group>

</launch>
