<launch>
  <arg name="GROUP" default="/robot_0"/>
  <arg name="ROBOT_NAME" default="turtlebot3"/>
  <!--megarover turtlebot3 beego-->
  <arg name="IS_SIMULATOR" default="true"/>
  <arg name="USE_RVIZ" default="true"/>
  <arg name="PUBLISH_COMMAND" default="true"/>
  <arg name="FRAME_ID/GLOBAL" default="map"/>
  <arg name="FRAME_ID/ROBOT_BASE" default="robot_0/base_footprint"/>
  <arg name="FRAME_ID/LIDAR" default="robot_0/base_scan"/>
  <arg name="TARGET/POSITION/X" default="0"/>
  <arg name="TARGET/POSITION/Y" default="0"/>
  <arg name="TARGET/POSITION/YAW" default="0.0"/>
  <arg name="TOPIC/SCAN" default="scan"/>
  <arg name="TOPIC/ODOM" default="odom"/>
  <arg name="TOPIC/CMD_VEL" default="cmd_vel"/>

  <group ns="$(arg GROUP)">

    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
      <arg name="model" value="waffle_pi" />
      <arg name="multi_robot_name" value="robot_0" />
    </include>

    <node pkg="potbot_localization" type="potbot_localization_map_link" name="potbot_localization_map_link">
      <!-- <param name="publish_frequency" type="double" value="50.0" /> -->
      <param name="FRAME_ID/MAP" value="map"/>
      <param name="FRAME_ID/ODOM" value="robot_0/odom"/>
    </node>

    <include file="$(find potbot_localization)/launch/Localization.launch">
      <arg name="ROBOT_NAME" value="$(arg ROBOT_NAME)"/>
      <arg name="IS_SIMULATOR" value="$(arg IS_SIMULATOR)"/>
      <arg name="USE_RVIZ" value="$(arg USE_RVIZ)"/>
      <arg name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="FRAME_ID/LIDAR" value="$(arg FRAME_ID/LIDAR)"/>
      <arg name="TOPIC/SCAN" value="$(arg TOPIC/SCAN)"/>
      <arg name="TOPIC/ODOM" value="$(arg TOPIC/ODOM)"/>
    </include>

    <include file="$(find potbot_controller)/launch/Controller.launch">
      <arg name="ROBOT_NAME" value="$(arg ROBOT_NAME)"/>
      <arg name="IS_SIMULATOR" value="$(arg IS_SIMULATOR)"/>
      <arg name="PUBLISH_COMMAND" value="$(arg PUBLISH_COMMAND)"/>
      <arg name="COLLISION_DETECTION" value="true"/>
      <arg name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="TARGET/POSITION/X" value="$(arg TARGET/POSITION/X)"/>
      <arg name="TARGET/POSITION/Y" value="$(arg TARGET/POSITION/Y)"/>
      <arg name="TARGET/POSITION/YAW" value="$(arg TARGET/POSITION/YAW)"/>
      <arg name="TOPIC/SCAN" value="$(arg TOPIC/SCAN)"/>
      <arg name="TOPIC/ODOM" value="$(arg TOPIC/ODOM)"/>
      <arg name="TOPIC/CMD_VEL" value="$(arg TOPIC/CMD_VEL)"/>
    </include>

    <include file="$(find potbot_filter)/launch/Filter.launch">
      <arg name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="FRAME_ID/LIDAR" value="$(arg FRAME_ID/LIDAR)"/>
      <arg name="TOPIC/SCAN" value="$(arg TOPIC/SCAN)"/>
      <arg name="TOPIC/ODOM" value="$(arg TOPIC/ODOM)"/>
    </include>
    
    <include file="$(find potbot_pathplanner)/launch/PathPlanning.launch">
      <arg name="USE_RVIZ" value="$(arg USE_RVIZ)"/>
      <arg name="PATH_PLANNING_METHOD" value="potential_method"/>
      <arg name="PATH_PLANNING_FILE" default="straight.csv"/>
      <arg name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="TARGET/POSITION/X" value="$(arg TARGET/POSITION/X)"/>
      <arg name="TARGET/POSITION/Y" value="$(arg TARGET/POSITION/Y)"/>
      <arg name="TARGET/POSITION/YAW" value="$(arg TARGET/POSITION/YAW)"/>
      <arg name="TOPIC/SCAN" value="$(arg TOPIC/SCAN)"/>
      <arg name="TOPIC/ODOM" value="$(arg TOPIC/ODOM)"/>
    </include>
    
    <group if="$(arg USE_RVIZ)">
      <include file="$(find potbot_rviz)/launch/rviz.launch"/>
    </group>

  </group>

</launch>
