<launch>
  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true" output="screen">
    <!-- <rosparam command="load" file="$(find potbot_description)/config/robot_localization.yaml" /> -->
    <rosparam command="load" file="$(find potbot_description)/config/megarover_actual_robot_localization.yaml" />
    <!-- <param name="tf_prefix" value="mega"/> -->
    <param name="map_frame" value="robot_5/map"/>
    <param name="odom_frame" value="robot_5/odom"/>
    <param name="base_link_frame" value="robot_5/base_link"/>
    <param name="world_frame" value="robot_5/odom"/>
    <!-- <remap from="/odometry/filtered" to="/dtw_robot1/fusion/odom" /> -->
    <!-- <remap from="odom0" to="diff_drive_controller/odom" /> -->
    <!-- <remap from="odom1" to="tracking/noise" /> -->
  </node>
</launch>
