<launch>
  <arg name="GROUP" default="/robot_1"/>
  <arg name="ROBOT_NAME" default="turtlebot3"/>
  <!--megarover turtlebot3 beego-->
  <arg name="IS_SIMULATOR" default="true"/>
  <arg name="USE_RVIZ" default="false"/>
  <arg name="PUBLISH_COMMAND" default="true"/>
  <arg name="FRAME_ID/GLOBAL" default="map"/>
  <arg name="FRAME_ID/ROBOT_BASE" default="robot_1"/>
  <arg name="FRAME_ID/LIDAR" default="robot_1_lidar"/>
  <arg name="TARGET/POSITION/X" default="-6.0"/>
  <arg name="TARGET/POSITION/Y" default="0.0"/>
  <arg name="TARGET/POSITION/YAW" default="3.14"/>
  <arg name="MAX_LINEAR_VELOCITY" default="0.3"/>
  <arg name="TOPIC/SCAN" default="scan"/>
  <arg name="TOPIC/ODOM" default="position"/>
  
  <group ns="$(arg GROUP)">

    <include file="$(find potbot_localization)/launch/Localization.launch">
      <arg name="ROBOT_NAME" value="$(arg ROBOT_NAME)"/>
      <arg name="IS_SIMULATOR" value="$(arg IS_SIMULATOR)"/>
      <arg name="USE_RVIZ" value="$(arg USE_RVIZ)"/>
      <arg name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="FRAME_ID/LIDAR" value="$(arg FRAME_ID/LIDAR)"/>
    </include>

    <include file="$(find potbot_controller)/launch/Controller.launch">
      <arg name="ROBOT_NAME" value="$(arg ROBOT_NAME)"/>
      <arg name="IS_SIMULATOR" value="$(arg IS_SIMULATOR)"/>
      <arg name="PUBLISH_COMMAND" value="$(arg PUBLISH_COMMAND)"/>
      <arg name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="TARGET/POSITION/X" value="$(arg TARGET/POSITION/X)"/>
      <arg name="TARGET/POSITION/Y" value="$(arg TARGET/POSITION/Y)"/>
      <arg name="TARGET/POSITION/YAW" value="$(arg TARGET/POSITION/YAW)"/>
      <arg name="MAX_LINEAR_VELOCITY" value="$(arg MAX_LINEAR_VELOCITY)"/>
      <arg name="COLLISION_DETECTION" value="true"/>
      <arg name="TOPIC/SCAN" value="$(arg TOPIC/SCAN)"/>
    </include>

    <include file="$(find potbot_filter)/launch/Filter.launch">
      <arg name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="FRAME_ID/LIDAR" value="$(arg FRAME_ID/LIDAR)"/>
      <arg name="TOPIC/SCAN" value="$(arg TOPIC/SCAN)"/>
    </include>
    
    <include file="$(find potbot_pathplanning)/launch/PathPlanning.launch">
      <arg name="USE_RVIZ" value="$(arg USE_RVIZ)"/>
      <arg name="PATH_PLANNING_METHOD" value="csv"/>
      <arg name="PATH_PLANNING_FILE" default="straight.csv"/>
      <arg name="YAML_FILE" default="potbot.yaml"/>
      <arg name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <arg name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <arg name="TARGET/POSITION/X" value="$(arg TARGET/POSITION/X)"/>
      <arg name="TARGET/POSITION/Y" value="$(arg TARGET/POSITION/Y)"/>
      <arg name="TARGET/POSITION/YAW" value="$(arg TARGET/POSITION/YAW)"/>
    </include>
    
    <group if="$(arg USE_RVIZ)">
      <include file="$(find potbot_rviz)/launch/rviz.launch"/>
    </group>

  </group>

</launch>
