<launch>
  <arg name="GROUP"                       default="robot_0"/>
  <arg name="FILE/URDF"                   default="$(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro"/>
  <arg name="FILE/RVIZ"                   default="$(find potbot_description)/rviz/waffle_pi.rviz"/>

  <group ns="$(arg GROUP)">

    <include file="$(find potbot)/launch/env/remote.launch">
      <arg name="urdf_file"               default="$(find xacro)/xacro --inorder '$(arg FILE/URDF)'"/>
      <arg name="multi_robot_name"        value="$(arg GROUP)"/>
    </include>

    <!-- <group ns="potbot">
      <include file="$(find potbot_rviz)/launch/rviz.launch">
        <arg name="RVIZ_FILE"               value="$(arg FILE/RVIZ)"/>
      </include>
    </group> -->

  </group>
</launch>