<launch>
   <arg name="multi_robot"             default="robot1"/>
   <arg name="topic_odom"              default="/$(arg multi_robot)/odom/noise"/>
   <arg name="frame_id_odom"           default="$(arg multi_robot)/odom"/>
   <arg name="frame_id_robot_base"     default="$(arg multi_robot)/base_footprint"/>
   <arg name="frame_id_camera_link"    default="camera_link"/>
   
   <!-- <node pkg="tf" type="static_transform_publisher" name="odom_tf" args="0 0 0 0 0 0 map $(arg frame_id_odom) 60"/> -->
   <node pkg="tf" type="static_transform_publisher" name="camera_tf" args="0.13 0 0.31 0 0 0 $(arg frame_id_robot_base) $(arg frame_id_camera_link) 60"/>
   <!-- <node pkg="tf" type="static_transform_publisher" name="optical_tf" args="0 0 0 0 0 0 $(arg frame_id_camera_link) camera_color_optical_frame 60"/> -->

   <node pkg="potbot_example" type="twist_to_odometry" name="twist_to_odometry">
      <param name="publish_tf"                value="true"/>
      <param name="frame_id_odom"             value="$(arg frame_id_odom)"/>
      <param name="frame_id_robot_base"       value="$(arg frame_id_robot_base)"/>
      <remap from="rover_odo"                 to="/noise_twist"/>
      <remap from="odom"                      to="$(arg topic_odom)"/>
   </node>

   <node pkg="vmcl" name="sensor_filter" type="sensor_filter" output="screen">
      <remap from="odom"               to="/robot1/odom"/>
      <param name="variance"           value="0"/>
   </node>

   <!-- <rosparam param="/use_sim_time">true</rosparam> -->
   <!-- <node name="rosbag_play" pkg="rosbag" type="play" args="-clock /home/ubuntu/share/2024-07-31-13-10-22.bag" /> -->

</launch>
