<launch>
  <arg name="rviz"                            default="true"/>
  <arg name="loc"                             default="odom"/> <!-- odom, amcl rtabmap -->
  <arg name="slam"                            default="none"/> <!-- none, gmapping, rtabmap -->
  <arg name="x"                               default="0"/>
  <arg name="y"                               default="0"/>
  <arg name="yaw"                             default="0"/>
  <arg name="db"                              default="rtabmap"/>
  <arg name="reset"                           default="true"/>
  <arg name="v"                               default="0.2"/>
  <arg name="omega"                           default="1.0"/>
  <arg name="fwd"                             default="false"/>


  <arg name="multi_robot"                     default="robot_0"/>
  <arg name="use_rviz"                        default="$(arg rviz)"/>
  <arg name="use_fusion"                      default="false"/>
  <arg name="use_remote"                      default="true"/>
  <arg name="method_localization"             default="$(arg loc)"/> <!-- odom, amcl rtabmap -->
  <arg name="method_slam"                     default="$(arg slam)"/> <!-- none, gmapping, rtabmap-->
  <arg name="frame_id_global"                 default="map"/>
  <arg name="frame_id_odom"                   default="$(arg multi_robot)/odom"/>
  <arg name="frame_id_base_footprint"         default="$(arg multi_robot)/base_footprint"/>
  <arg name="frame_id_scan"                   default="$(arg multi_robot)/base_scan"/>
  <arg name="topic_scan"                      default="/$(arg multi_robot)/scan"/>
  <arg name="topic_odom"                      default="/$(arg multi_robot)/odometry/filtered" if="$(arg use_fusion)"/>
  <arg name="topic_odom"                      default="/$(arg multi_robot)/odom" unless="$(arg use_fusion)"/>
  <arg name="topic_cmd"                       default="/$(arg multi_robot)/cmd_vel"/>
  <arg name="topic_goal"                      default="/$(arg multi_robot)/goal"/>
  <arg name="model"                           default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="initial_pose_x"                  default="$(arg x)"/>
  <arg name="initial_pose_y"                  default="$(arg y)"/>
  <arg name="initial_pose_yaw"                default="$(arg yaw)"/>
  <arg name="file_urdf"                       default="$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
  <arg name="file_map"                        default="$(find potbot_description)/maps/garage.yaml"/>
  <arg name="file_rviz"                       default="$(find potbot_example)/rviz/navigation.rviz"/>
  <arg name="file_database"                   default="~/.ros/$(arg db).db"/>
  <arg name="reset_database"                  default="$(arg reset)"/>

  <arg name="max_linear_velocity"             default="$(arg v)"/>
  <arg name="max_angular_velocity"            default="$(arg omega)"/>
  <arg name="move_forward_only"               default="$(arg fwd)"/>
  
  <group ns="$(arg multi_robot)">

    <include file="$(find potbot_example)/launch/navigation/navigation.launch">
      <arg name="multi_robot"                   value="$(arg multi_robot)"/>
      <arg name="use_rviz"                      value="$(arg use_rviz)"/>
      <arg name="use_fusion"                    value="$(arg use_fusion)"/>
      <arg name="use_remote"                    value="$(arg use_remote)"/>
      <arg name="method_localization"           value="$(arg method_localization)"/>
      <arg name="method_slam"                   value="$(arg method_slam)"/>
      <arg name="frame_id_global"               value="$(arg frame_id_global)"/>
      <arg name="frame_id_odom"                 value="$(arg frame_id_odom)"/>
      <arg name="frame_id_robot_base"           value="$(arg frame_id_base_footprint)"/>
      <arg name="frame_id_scan"                 value="$(arg frame_id_scan)"/>
      <arg name="topic_scan"                    value="$(arg topic_scan)"/>
      <arg name="topic_odom"                    value="$(arg topic_odom)"/>
      <arg name="topic_cmd"                     value="$(arg topic_cmd)"/>
      <arg name="topic_goal"                    value="$(arg topic_goal)"/>
      <arg name="topic_rgb"                     value="/$(arg multi_robot)/camera/rgb/image_raw"/>
      <arg name="topic_info"                    value="/$(arg multi_robot)/camera/rgb/camera_info"/>
      <arg name="topic_depth"                   value="/$(arg multi_robot)/camera/depth/image_raw"/>
      <arg name="topic_depth_points"            value="/$(arg multi_robot)/camera/depth/points/downsample"/>
      <arg name="initial_pose_x"                value="$(arg initial_pose_x)"/>
      <arg name="initial_pose_y"                value="$(arg initial_pose_y)"/>
      <arg name="initial_pose_yaw"              value="$(arg initial_pose_yaw)"/>
      <arg name="file_urdf"                     value="$(arg file_urdf)"/>
      <arg name="file_map"                      value="$(arg file_map)"/>
      <arg name="file_rviz"                     value="$(arg file_rviz)"/>
      <arg name="file_database"                 value="$(arg file_database)"/>
      <arg name="reset_database"                value="$(arg reset_database)"/>
      
      <arg name="max_linear_velocity"           value="$(arg max_linear_velocity)"/>
      <arg name="max_angular_velocity"          value="$(arg max_angular_velocity)"/>
      <arg name="move_forward_only"             value="$(arg move_forward_only)"/>

      <!-- <arg name="file_costmap_common_params"    value="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml"/>
      <arg name="file_global_costmap_params"    value="$(find turtlebot3_navigation)/param/global_costmap_params.yaml"/>
      <arg name="file_local_costmap_params"     value="$(find turtlebot3_navigation)/param/local_costmap_params.yaml"/>
      <arg name="file_move_base_params"         value="$(find turtlebot3_navigation)/param/move_base_params.yaml"/>
      <arg name="file_local_planner_params"     value="$(find turtlebot3_navigation)/param/dwa_local_planner_params_$(arg model).yaml"/> -->

      <arg name="file_costmap_common_params"    value="$(find potbot_example)/config/navigation/costmap_common_params.yaml"/>
      <arg name="file_global_costmap_params"    value="$(find potbot_example)/config/navigation/global_costmap_params.yaml"/>
      <arg name="file_local_costmap_params"     value="$(find potbot_example)/config/navigation/local_costmap_params.yaml"/>
      <arg name="file_move_base_params"         value="$(find potbot_example)/config/navigation/move_base_params.yaml"/>
      <!-- <arg name="file_local_planner_params"     value="$(find potbot_example)/config/navigation/dwa_local_planner_params.yaml"/> -->
      <arg name="file_local_planner_params"     value="$(find potbot_example)/config/navigation/pure_pursuit.yaml"/>
      <!-- <arg name="file_local_planner_params"     value="$(find potbot_example)/config/navigation/personal_space_dwa.yaml"/> -->
      <!-- <arg name="file_local_planner_params"     value="$(find potbot_example)/config/navigation/optimal_path_follower.yaml"/> -->
      <!-- <arg name="file_local_planner_params"     value="$(find potbot_example)/config/navigation/traditional_apf.yaml"/> -->

      <arg name="file_amcl"                     value="$(find potbot_example)/config/navigation/amcl.yaml"/>
      <arg name="file_gmapping"                 value="$(find potbot_example)/config/navigation/gmapping.yaml"/>
    </include>

  </group>

</launch>
